<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikipore.voipcall</string>
	<key>connections</key>
	<dict>
		<key>29F45475-BA6E-4E76-851D-4C08D86B6FFC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7A2B2E18-ABB5-44D4-A5EB-EB55CACB2FCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29F45475-BA6E-4E76-851D-4C08D86B6FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D5352446-2F8F-465E-8BDD-F2D37B781BA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>29F45475-BA6E-4E76-851D-4C08D86B6FFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan Müller</string>
	<key>description</key>
	<string>Initiate a VoIP Call</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Call via VoIP</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Dialing ...</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>call</string>
				<key>subtext</key>
				<string>VoIP Call to sip:{query}</string>
				<key>text</key>
				<string>Call {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7A2B2E18-ABB5-44D4-A5EB-EB55CACB2FCF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>tel:{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>29F45475-BA6E-4E76-851D-4C08D86B6FFC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>name</key>
				<string>VoIP Call</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.contact</string>
			<key>uid</key>
			<string>D5352446-2F8F-465E-8BDD-F2D37B781BA0</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E880D6A-1FBB-40E8-8ED6-DEBFD8EFAE11</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>29F45475-BA6E-4E76-851D-4C08D86B6FFC</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7A2B2E18-ABB5-44D4-A5EB-EB55CACB2FCF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>D5352446-2F8F-465E-8BDD-F2D37B781BA0</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/nikipore/alfred-voipcall</string>
</dict>
</plist>
